<div class="container debug">
  <div class="nav nav-stacked fl-l col-lg-2 debug" id="sidebar">
    <ul>
      <% @categories.each do |category| %>
        <li class="category-name cur"><%= category.name %>
          <ul class="tracks hidden">
            <% category.tracks.each do |track| %>
              <li class="draggableTrack" url="<%= track.url %>" id="<%= track.id %>" image="<%= category.img %>"><%= track.title %></li>
              <li>
                <a data-track-id="<%= track.id %>" data-track-title="<%= track.title %>" data-track-description="<%= track.description %>" class="popup-window">Learn More</a>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="popup-info popup-box">
  </div>

  <div class="collapsible col-lg-1 debug"></div>

  <div class="jquery-script-clear"></div>
  <div class="mix debug fl-l col-lg-9">
    <div class="track-divs honeycombs debug">

        <div id="1" class="cell comb border debug" ><img src="/assets/navigation-bar/golden.jpg"/><span></span></div>
        <div id="2" class="cell comb border debug" ><img src="/assets/navigation-bar/golden.jpg" /><span></span></div>

        <div id="3" class="cell comb border debug"><img src="/assets/navigation-bar/golden.jpg" /><span></span></div>
        <div id="4" class="cell comb border debug"><img src="/assets/navigation-bar/golden.jpg" /><span></span></div>

        <div id="5" class="cell comb border debug"><img src="/assets/navigation-bar/golden.jpg" /><span></span></div>
        <div id="6" class="cell comb border debug"><img src="/assets/navigation-bar/golden.jpg" /><span></span></div>

    </div>

      <div class="deck debugs">
         <p> Volume </p>
            <input id= "volume-dial" type="text" class="dial">
          <p> Pitch </p>
          <div id = "pitch-slider" style="width:260px; margin:15px;" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <div id= "pitch-level" class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="left: 60%;"></div>
            <span id = "pitch-button"class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 60%;"></span>
          </div>
          <p> Tempo </p>
          <div id = "tempo-slider" style="width:260px; margin:15px;" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <div id= "tempo-level" class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="left: 60%;"></div>
            <span id = "tempo-button"class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 60%;"></span>
          </div>

          <p> Panning - moving the sound from left to right</p>
            <input id= "panning-dial" type="text" class="dial">
          <div class= fl-r>
            <p> High pass and low pass </p>
            <div class= "nested-dials">
              <div id= "high-pass" class= "outer-dial">
                <input id= "high-pass-dial" type="text" class="dial">
              </div>
              <div id = "low-pass" class= "inner-dial">
                <input id= "low-pass-dial" type="text" class="dial">
              </div>
            </div>
          </div>

<!--         <p>Start and Stop Recording</p>
        <button onclick="startRecorder(this);">record</button>
        <button onclick="stopRecorder(this);">stop</button> -->

      </div>
    </div>
  </div>
</div>

