<div class="container debug">
  <div class="nav nav-stacked sidebar fl-l col-lg-2 debug">
    <ul>
      <div class="collapsible"><%= image_tag("navigation-bar/arrow.png", height: '50', width: '50') %></div>
      <% @categories.each do |category| %>
        <li class="category-name cur fz-l f-header"><%= category.name %>
          <ul class="tracks fz-s hidden">
            <% category.tracks.each do |track| %>
              <li class="draggableTrack" url="<%= track.url %>" id="<%= track.id %>" image="<%= category.img %>"><a data-track-id="<%= track.id %>" data-track-title="<%= track.title %>" data-track-description="<%= track.description %>" class="popup-window"><%= image_tag("navigation-bar/plus.png") %></a><%= track.title %></li>
              <li>

              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="popup-info popup-box">
  </div>

  <div class="sidebar collapsible col-lg-1 hidden debug"><%= image_tag("navigation-bar/arrow-reverse.png", height: '50', width: '50') %></div>

  <div class="jquery-script-clear"></div>
  <div class="mix debug fl-l col-lg-10">
    <div class="track-divs honeycombs debug">

        <div id="0" class="cell comb border debug" ><%= image_tag("sound-categories/plus.jpg") %><span></span></div>
        <div id="1" class="cell comb border debug" ><%= image_tag("sound-categories/plus.jpg") %><span></span></div>

        <div id="2" class="cell comb border debug"><%= image_tag("sound-categories/plus.jpg") %><span></span></div>
        <div id="3" class="cell comb border debug"><%= image_tag("sound-categories/plus.jpg") %><span></span></div>

        <div id="4" class="cell comb border debug"><%= image_tag("sound-categories/plus.jpg") %><span></span></div>
        <div id="5" class="cell comb border debug"><%= image_tag("sound-categories/plus.jpg") %><span></span></div>

    </div>

    <div class="deck debugs">
        <div class= "control-panel">
          <div class= "controls">
            <p> Volume </p>
            <input id= "volume-dial" type="text" class="dial">
          </div>


          <!-- <div class= "controls">
            <p> Low Pass </p>
            <input id= "low-dial" type="text" class="dial">
          </div>
           <div class= "controls">
            <p> High Pass </p>
            <input id= "high-dial" type="text" class="dial">
          </div> -->
          <div class= "controls">
            <p> Echo </p>
            <input id= "echo-dial" type="text" class="dial">
          </div>
          <div class= "controls">
            <p>Tempo </p>
            <input id= "tempo-dial" type="text" class="dial">
          </div>

          <div class= "controls">
            <p> Panning</p>
            <select id="panning-dial">
              <option value="1">Left</option>
              <option selected="selected" value="0">None</option>
              <option value="-1">Right</option>
            </select>

          </div>

          <div class= "controls">
            <p> Loop</p>
            <select id="loop-toggle">
              <option value="0">Off</option>
              <option selected="selected" value="1">On</option>
            </select>

          </div>

          <!-- <div class= "controls">
            <div id="loop">
              <label for="flip-2">Loop</label>
              <select name="flip-2" id="flip-2" data-role="flipswitch" data-theme="b">
                  <option value="off">Off</option>
                  <option value="on">On</option>
              </select>
            </div>
          </div> -->


        </div>
      </div>
  </div>

<!--         <p>Start and Stop Recording</p>
        <button onclick="startRecorder(this);">record</button>
        <button onclick="stopRecorder(this);">stop</button> -->

      </div>
    </div>
  </div>
</div>

