<div class="container debug">
  <div class="nav nav-stacked fl-l col-lg-2 debug" id="sidebar">
    <ul>
      <% @categories.each do |category| %>
        <li class="category-name cur"><%= category.name %>
          <ul class="tracks hidden">
            <% category.tracks.each do |track| %>
              <li class="draggableTrack" url="<%= track.url %>" id="<%= track.id %>" image="<%= category.img %>"><%= track.title %></li>
              <li>
                <a data-track-id="<%= track.id %>" data-track-title="<%= track.title %>" data-track-description="<%= track.description %>" class="popup-window">Learn More</a>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="popup-info popup-box">
  </div>

  <div class="collapsible col-lg-1 debug"></div>

  <div class="jquery-script-clear"></div>
  <div class="mix debug fl-l col-lg-9">
    <div class="track-divs honeycombs debug">

        <div id="0" class="cell comb border debug" ><img src="/assets/navigation-bar/golden.jpg"/><span></span></div>
        <div id="1" class="cell comb border debug" ><img src="/assets/navigation-bar/golden.jpg" /><span></span></div>

        <div id="2" class="cell comb border debug"><img src="/assets/navigation-bar/golden.jpg" /><span></span></div>
        <div id="3" class="cell comb border debug"><img src="/assets/navigation-bar/golden.jpg" /><span></span></div>

        <div id="4" class="cell comb border debug"><img src="/assets/navigation-bar/golden.jpg" /><span></span></div>
        <div id="5" class="cell comb border debug"><img src="/assets/navigation-bar/golden.jpg" /><span></span></div>

    </div>

    <div class="deck debugs">
    <p class= "instructions"> To show track controls, hover over the sound you want to manipulate and hit 'enter' </p>
        <div class= "control-panel">
          <div class= "controls">
            <p> Volume </p>
            <input id= "volume-dial" type="text" class="dial">
          </div>

          <div class= "controls">
            <p> Panning</p>
            <input id= "panning-dial" type="text" class="dial">
          </div>
          <div class= "controls">
            <p> Low Pass </p>
            <input id= "low-dial" type="text" class="dial">
          </div>
           <div class= "controls">
            <p> High Pass </p>
            <input id= "high-dial" type="text" class="dial">
          </div>
          <div class= "controls">
            <p> Echo </p>
            <input id= "echo-dial" type="text" class="dial">
          </div>
          <div class= "controls">
            <p>Tempo </p>
            <input id= "tempo-dial" type="text" class="dial">
          </div>
        </div>
      </div>
  </div>

<!--         <p>Start and Stop Recording</p>
        <button onclick="startRecorder(this);">record</button>
        <button onclick="stopRecorder(this);">stop</button> -->

      </div>
    </div>
  </div>
</div>

