// ***************** Basic Mixer Settings ***********************
function startMixer(){
  var activeMix = new Wad.Poly({
  })
  return activeMix
}

function loadSound(mix, trackId, divId) {
  //var tracktoAdd =  eventually this will look up track from server based on id

  var trackSource = _.find(sounds, function(sound) {
    return sound.id === trackId
  });

  var trackToAdd = new Wad({
    source: trackSource.src,
    env: {hold: 9001}
  });

  mix.add(trackToAdd);
  mostRecent = _.last(mix.wads);
  mostRecent.label = divId;

  var targetDiv = _.find($("div"), function(div) {
    return Number($(div).attr("id")) === divId;
  });

  $(targetDiv).append("<p>" + trackSource.name + "</p>")
  $(targetDiv).attr("track-id", trackId)
}

var sounds = [
    {src: "<%= asset_path('fire.wav') %>", id: 11, name: "Fire"},
    {src: "<%= asset_path('forest.wav') %>", id: 12, name: "Forest"},
    {src: "<%= asset_path('lightning.wav') %>", id: 3, name: "Lightning"},
    {src: "<%= asset_path('nightime.wav') %>", id: 4, name: "Nighttime"} ,
    {src: "<%= asset_path('beach.wav') %>", id: 5, name: "Beach"} ,
    {src:  "<%= asset_path('hotlineBling.mp3') %>", id: 6, name: "Drizzy"}
  ];
