<!DOCTYPE html>
<html>
<head>
  <title>TheGoldenRecord</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

 <link href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono|PT+Mono|Swanky+and+Moo+Moo' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default bgc-day">
    <div class="container-fluid bgc-day">
      <div class="navbar-header bgc-day">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="p-std pr-m"><a href="#" id="about"><%= image_tag("navigation-bar/share.png", height: '50', width: '50') %></a></li>
          <li class="p-std pr-m"><a href="#" id="start"><%= image_tag("navigation-bar/start.png", height: '50', width: '50') %></a></li>
          <li class="p-std pr-m"><a href="#" id="meet"><%= image_tag("navigation-bar/meet-team.png", height: '50', width: '50') %></a></li>
        </ul>
      </div>
    </div>
  </nav>

<%= render "tracks/about" %>
<%= render "tracks/start" %>
<%= render "tracks/meet" %>
<%= render "tracks/launch" %>

<%= yield %>

<!--   <footer class="navbar navbar-static-bottom bgc-stormy">

    <div class="fl-r m-r f-header p-std" id="star"><%# image_tag("navigation-bar/star-credits.png") %></div>
  </footer> -->

</body>
</html>
